@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
/* Import de la font Syne */

/* cacher titre et bordure */
.page .entry-header  
{
    display: none;
}


/* HEADER */

.site-header-inner
{
    position: relative;
    height: 100%;
}

#logo
{
    margin-left: 45px;
    height: 80px;
    display: flex;
}

#menu-principal
{
    display: flex;
}

#menu-item-763
{
    margin-right: 40px;
    font-family: Syne;
    font-size: 13px;
    font-weight: 700;
    line-height: 15.6px;
    text-align: left;

}

#menu-item-762
{
    order: 1;
    background-color: #DC9F96;
    margin-left: 40px;
    padding: 0px 50px;
    font-family: Syne;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    text-align: center;


}
#menu-item-762 .text-wrap
{
    color: white;
}

/* HOME */


.wpcf7-submit:hover
{
    background-color: #C02E44 !important;
    color: #FFFFFF !important;
}

.wp-container-15 
{
    border-bottom-right-radius: 400px 30px;
    border-bottom-left-radius: 400px 30px;
    background: #EDE2DA;
    padding-bottom: 47px !important;
}

.picture-container
{
    flex-basis: 35% !important;
    padding-left: 13px ;
}

.text-container
{
    flex-basis: 58% !important;
    padding-top: 5px;
    padding-left: 0px ;
}


/* NOUS RENCONTRER */

.wp-block-group {
    background-color: #FFFFFF;
}

.wpcf7 label
{
    color: black;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.wpcf7-form-control
{
    width: 100%;
    height: 235px;
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF!important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
    
}

.wpcf7-submit
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    color: #FFFFFF;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 0px !important;
    margin-left: 85px !important;
    font-size: 15px !important;
    display: block;
    margin: 0 auto;
    font-family: Syne;
    font-size: 15px;
    font-weight: 400;
    line-height: 37px;
    text-align: center;

}

input
{
    height: 4em !important;
}



/* COMMANDER */

.page-header-title
{
    color: #FFFFFF;
    margin-top: 40px !important;
    line-height: 46px !important;
    font-weight: 800 !important;
    font-family: 'Syne' !important;
    text-transform: uppercase;
    font-size: 38px !important;
    padding-bottom: 60px !important;
    border-bottom: 1px solid white; 
}

.section-title
{
    color: #FFFFFF;
    margin-top: 40px !important;
    line-height: 30px !important;
    font-weight: 700 !important;
    font-family: 'Syne' !important;
    text-transform: uppercase;
    font-size: 30px !important;
    padding-bottom: 20px !important;
}

.commande-image
{
    display: flex;
    gap: 30px;
    border-bottom: 1px solid white !important;
}

.image-texte
{
    position: static
}

.span
{
    position: absolute;
    top: 12%;
    left: 11%;
    transform: translate(-50%,-50%);
}

.information-et-livraison
{
    display: flex !important;
    padding-top: 40px;
}

.information
{
    width: 50% !important;
    padding-right: 20px !important;
    border-right: 1px solid white !important;
}

.livraison
{
    width: 50%;
    padding-left: 20px;
    
}
span.fraise
{
    position: absolute;
    top: 20%;
    left: 12%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-family: "Syne";
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    width: 195px;
    overflow: hidden;
    text-transform: uppercase;
}

span.pamplemousse
{
    position: absolute;
    top: 20%;
    left: 39%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-family: "Syne"; 
    font-size: 28px;
    font-weight: 800;
    line-height: 30px;
    width: 240px;
    overflow: hidden;
    text-transform: uppercase;

}

span.framboise
{
    position: absolute;
    top: 20%;
    right: 22%;
    transform: translate(-50%,-50%);
    color: #FFFFFF;
    font-family: "Syne";
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    width: 170px;
    overflow: hidden;
    text-transform: uppercase;
}

span.citron
{
    position: absolute;
    top: 20%;
    right: 0%;
    transform: translate(-8%,-50%);
    color: #FFFFFF;
    font-family: "Syne";
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    width: 205px;
    overflow: hidden;
    text-transform: uppercase;
}

input#pamplemousse
{
    width: 100%;
    margin-left: 85px !important;
    margin-top: -25px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
}

input#framboise
{
    width: 100%;
    margin-left: 85px !important;
    margin-top: -25px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
}

input#citron
{
    width: 100%;
    margin-left: 85px !important;
    margin-top: -25px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
}

input#fraise
{
    width: 100%;
    margin-left: 85px !important;
    margin-top: -25px !important;
    margin-bottom: 15px !important;
    border: none !important;
    border-radius: 7px !important;
    background: #FFFFFF !important;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04) !important;
}


button
{
    width: 198px !important;
    height: 55px !important;
    background: #E0B9B4 !important;
    border: none !important;
    border-radius: 5px !important;
    margin-top: 30px !important;
    margin-left: 470px !important;

}
label.name
{
    color: white !important;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

label.surname
{
    color: white !important;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

label.mail
{
    color: white !important;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

label.adress
{
    color: white !important;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

label.postal.code
{
    color: white !important;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

label.city
{
    color: white !important;
    font-family: Syne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.wpcf7-response-output
{
    color: rgb(190, 18, 18);
}

.monFooter {
    font-weight: 400;
    font-size: 16px;
    background-color: white;
    width: 100% ;
    height: 60px;
    line-height: 60px;
    text-align: center;
    align-items: center;
}

/* 
.section-class
{
    color : #FFFFFF; 
    text-transform: uppercase;
    font-family: 'Syne' !important;
    font-weight: 800 !important;
    line-height: 46px !important;
    font-size: 38px !important;
    padding-left: 500px !important;
    margin-bottom: 69px !important;
    padding-top: 60px !important;

}

.section-title
{
    color: #FFFFFF;
    margin-top: 40px !important;
    background-color: #3B8E46;
    padding-left: 400px !important;
    line-height: 30px !important;
    font-weight: 700 !important;
    font-family: 'Syne' !important;
    text-transform: uppercase;
    font-size: 30px !important;
    padding-bottom: 20px !important;
}

.wp-block-separator
{   border: 1px solid #FFFFFF !important;
    width: 57% !important;
}

.commande-image
{
    display: flex !important;
}

.image
{
    margin: 80px !important;
    
}


.Information-et-Livraison

{
    display: flex;
    grid-template: 1fr 1fr;
    column-gap: 95px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
*/
/******************* Footer ********************/



@media all and (max-width: 820px)
{
    /* home page */
    
        .header
        {
            display: flex;
            flex-direction: column;
            align-items: center; 
        }

        a.mobile-menu
        {
            width: 120px ;
            padding-right: 120px;
        }

        .custom-logo
        {
            max-width: 150px ;
        }
    
        .elementor-widget-container
        {
            margin: 0px 0px 0px 0px!important;
            padding: 0px!important;
            display: flex !important;
            text-align: center!important ;
        }
    
        .elementor-heading-title
        {
            line-height: 20px !important;
            font-size: 18px !important;
            letter-spacing: 1px !important ;
            width: 720px !important;
        }
    
        .e-con-inner
        {
            display: flex ;
        }
        
        .elementor-element-13e358e /* autour de la canette*/
        {
            margin-left: 170px;
            width: 400px;
        }
    
        .elementor-element-0ca4d19 /* canette*/
        {
            margin-bottom: -25px!important;
            margin-left: -80px;
        }  

        .elementor-element-c7a3362 /* fleur de droite*/
        {
            margin-left: -170px;
        }

        .elementor-element.elementor-element-bcfd2a1 /*fraise */
        {
            width: 540px;
            padding-right: 0px; 
            margin-left: 0px;
        }

        .elementor-element.elementor-element-1a3d6bc /*pamplemousse */
        {
            width: 535px;
            padding-left: 0px; 
            margin-right: 0px; 
            
        }
    
        .elementor-element.elementor-element-b528756 /*framboise */
        {
            width: 535px;
            padding-right: 0px; 
            margin-left: 0px;
        }
        
        .elementor-element.elementor-element-e044856 /* citron */
        {
            width: 535px;
            padding-left: 0px; 
            margin-right: 0px;
        }
    
        .elementor-element-3b2c78e /*Fahita image */
        {
            
            margin-left: 0px ;
            margin-top: -20px ;
            width: 100px ;
            padding: 0px ;
           
        }
    
        .elementor-element-cdf2480 /*Fahita texte */
        {
            width: 160px ;
            margin-left: 20px ;
            margin-top: -120px ;
            padding: 0px ;
        }
    
        .elementor-element-53e2406  /*Véro  image */
        {
            margin-top: -25px;
            padding-top: -0px;
        }
    
        .elementor-element-da7b6df /*Véro texte */
        {
            margin-left: 0px;
            margin-top: -120px;
            width: 140px ;
        }
    
    
        .elementor-element-249ac8b /*Marc image */
        {
            margin-top: -30px;
            margin-left: 10px;
        }
    
        .elementor-element-14275bd /*Marc texte */
        {
            margin-top: -100px;
            margin-left: -10px;
            width: 200px ;
        }
    
        /* nous contacter*/
    
        .elementor-element-2d9a1ec /* image Mégane */

        {
            margin-left: 40px;
        }
    
        .elementor-element-21e20ff /* image Brooke */

        {
            margin-left: 75px;
        }

        .elementor-element-e82671f /*image Sylvie */

        {
            margin-left: 75px;
        }

        .elementor-element-6d48a8e /* nom */
        {
            display: flex;
            width: 800px;
        }
    
        .elementor-element-b74713e /* fonction */
        {
            display: flex;
            width: 800px;
        }
    
        nav ul
        {
            display: flex;
            flex-direction: column;
            padding-left: 0 ;
        }
    
        /* commander*/
        
        h1.page-header-title
        {
            width: 800px ;
            line-height: 20px ;
            font-size: 24px ;
        }
    
        h2.section-title
        {
            width: 400px ;
            line-height: 14px ;
            font-size: 18px ;
            margin-bottom: 10px;
            margin-top: 0px ;
        }
    
        .commande-image
        {
            gap: 10px ;
            width: 760px ;
        }
    
        .image-texte
        {
            width: 188px ;
        }
    
        span.fraise
        {
            line-height: 18px;
            font-size: 14px;
            transform: translate(-55%,-50%);
            margin-top: -30px;
            width: 100px;
        }
        
        input#fraise
        {
            margin-left: 0px !important; 
        }
    
        span.pamplemousse
        {
            line-height: 18px;
            font-size: 14px;
            transform: translate(-65%,-50%);
            margin-top: -30px ;
            width: 120px;
        }
    
        input#pamplemousse
        {
            margin-left: 0px !important;
        }
    
        span.framboise
        {
            line-height: 18px;
            font-size: 14px;
            transform: translate(-115%,-50%);
            margin-top: -30px ;
            width: 80px;
        }
    
        input#framboise
        {
            margin-left: 0px!important ;
        }
    
        span.citron
        {
            line-height: 18px;
            font-size: 14px;
            transform: translate(-40%,-50%);
            margin-top: -30px;
            width: 120px;
        }
    
        input#citron
        {
            margin-left: 0px!important ;
        }
    
        .information
        {
            width: 45% ;
            padding-right: 10px ;
        }
    
        .livraison
        {
            width: 45%;
            padding-left: 10px;
        }
    
        button
        {
            margin-left: -20px !important;
        }
    
       /* footer */
        
        .menu-item-30
        {
            font-size: 15px ;
        }


    }
@media all and (max-width: 420px)
{
    /* home page */

    a.mobile-menu
    {
        width: 120px ;
        padding-right: 60px;
    }

    .header
    {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .custom-logo
    {
        max-width: 150px !important;
    }

    .elementor-widget-container
    {
        margin: 0px 0px 0px 0px!important;
        padding: 0px!important;
        display: flex !important;
        text-align: center !important;
    }

    .elementor-heading-title
    {
        line-height: 18px !important;
        font-size: 21px !important;
        letter-spacing: 1px !important;
        width: 480px !important;  
    }

    .e-con-inner
    {
        display: flex !important;
    }
    
    .elementor-element-13e358e /* autour de la canette*/
    {
        margin-left: 100px;
       width: 100px;
    }

    .elementor-element-a2a5dcb /* fleur de gauche*/
    {
        margin-right: 125px;
        margin-left: -85px;
    }

    .elementor-element-0ca4d19 /* canette*/
    {
        margin-left: -200px;
        margin-right: 0px;
        margin-bottom: -50px!important;
    }

    .elementor-element-c7a3362 /* fleur de droite */
    {
        margin-left: -80px;
    }

    .elementor-element.elementor-element-bcfd2a1 /*fraise */
    {
        width: 540px;
    }
    .elementor-element.elementor-element-1a3d6bc /*pamplemousse */
    {
        width: 535px;
    }

    .elementor-element.elementor-element-b528756 /*framboise */
    {
        width: 535px;
    }

    .elementor-element.elementor-element-e044856 /* citron */
    {
        width: 535px;
    }

    .elementor-element-456a724  /*Fahita image */
    {
        padding-left: 10px!important;
        margin-top: 0px!important;
        margin-bottom: 100px!important;
    }

    .elementor-element-cdf2480  /*Fahita texte */
    {
        width: 300px !important;
        margin-left: 120px!important;
        margin-top: -300px!important;
    }

    .elementor-element-53e2406  /*Véro  image */
    {
        margin-top: -50px!important;
        padding-top: 0px!important;
        width: 100px!important;
    }

    .elementor-element-da7b6df /*Véro texte */
    {
        margin-left: 100px!important;
        margin-top: -150px!important;
        width: 280px !important;
    }

    .elementor-element-249ac8b /*Marc image */
    {
        width: 120px!important;
        margin-left: -15px!important;
        margin-top: 80px !important;
    }

    .elementor-element-14275bd /*Marc texte */
    {
        margin-top: -160px!important;
        margin-left: 100px!important;
        width: 340px!important;
    }

    /* nous contacter*/


    .elementor-element-2d9a1ec /* image Mégane */

        {
            margin-left: 0px;
        }
    
        .elementor-element-21e20ff /* image Brooke */

        {
            margin-left: 20px;
        }

        .elementor-element-e82671f /*image Sylvie */

        {
            margin-left: 20px;
        }

    .elementor-element-6d48a8e /* nom */
    {
        display: flex;
        width: 800px;
    }

    .elementor-element-b74713e /* fonction */
    {
        display: flex;
        width: 800px;
    }

    nav ul
    {
        display: flex;
        flex-direction: column;
        padding-left: 0 !important;
    }

    /* commander*/
    
    h1.page-header-title
    {
        width: 500px !important ;
        line-height: 20px !important;
        font-size: 24px !important;
    }

    h2.section-title
    {
        width: 200px !important;
        line-height: 14px !important;
        font-size: 16px !important;
        margin-bottom: 10px!important;
        margin-top: 0px!important;
    }

    .commande-image
    {
        gap: 6px;
        width: 420px;
    }

    .image-texte
    {
        width: 100px;
    }

    span.fraise
    {
        line-height: 18px;
        font-size: 12px;
        transform: translate(-50%,-50%);
        margin-top: -80px;
        width: 100px;
    }
    
    input#fraise
    {
        margin-left: 0px !important;
    }

    span.pamplemousse
    {
        line-height: 18px;
        font-size: 12px;
        transform: translate(-50%,-50%);
        margin-top: -80px;
        width: 100px;
    }

    input#pamplemousse
    {
        margin-left: 0px !important;
    }

    span.framboise
    {
        line-height: 18px;
        font-size: 12px;
        transform: translate(-20%,-50%);
        margin-top: -80px;
        width: 65px;
    }

    input#framboise
    {
        margin-left: 0px !important;
    }

    span.citron
    {
        line-height: 18px;
        font-size: 12px;
        transform: translate(10%,-50%);
        margin-top: -80px;
        width: 85px;
    }

    input#citron
    {
        margin-left: 0px !important;
    }

    .information
    {
        width: 50% !important;
        padding-right: 10px !important;
    }

    .livraison
    {
        width: 45%!important;
        padding-left: 10px!important;
    }

    button
    {
        margin-left: -50px !important;
    }

   /* footer */
    
    .menu-item-30
    {
        font-size: 15px;
    }
}